* {
   
    font-family: sans-serif;
}
h1 {
    text-align: center;

}
.box {
    width: 100%;
    height: 120px;
    background-color: dodgerblue;
    color: white;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    text-align: center;
    
    
    
}
.main-box {
    
    border: 5px solid black;
    gap: 20px;
    margin: 0 auto 0 auto;
    width: 1000px;
}
.main-box-1 {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;

}
.main-box-2 {
    display: grid;
    grid-template-columns: 1fr 150px 150px 1fr;
}
.main-box-3 {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 100px 300px 100px 50px;

}
.box-2 {
    width: 100%;
    height: 100%;
    background-color: dodgerblue;
    color: white;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid;
}
.main-box-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.box-4-1 {
    background-color: goldenrod;
    grid-column-start: 1;
    grid-column-end: 5;
}
.box-4-2 {
    background-color: rgb(27, 98, 46);
    grid-row-start: 2;
    grid-row-end: 6;
}
.main-box-5 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.nombre-mes {
    background-color: goldenrod;
    grid-column-start: 1;
    grid-column-end: 8;
    text-align: center;
    padding:20px ;
}
.dia-semana{
    text-align: center;
}
.box-5-1 {
    grid-column-start: 6;
    grid-column-end: 7;
}