*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main-box{
    /* padding: 20px; */
    position: absolute;
    width: 550px;
    top: 180px;
    margin: 20px 20px 0 20px;

}
.box-subtotal{
    grid-area: subtotal;
}
.subtotal{
    font-size: 1.6em;
}
#subTotal{
    font-weight: 600;
}
.btn-pago-productos{
    grid-area: btn-pago-productos;
    background-color: #ece36b  ;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.box-img-producto{
    grid-area: box-img-producto;
    width: 100%;
   
}
.box-img-ipad-mini {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-ipad-mini {
    width: 713px;
}
.img-producto{
    width: 40%;
    border: 1px solid rgb(165, 165, 165);
    align-items: center;
}
.info-producto{
    grid-area: info-producto;
    /* padding: 15px; */
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
}
.texto-info-producto{
    margin-bottom: 30px;
    font-size: 150%;
}
.num-select{
    margin-top: 0%;
    height: 100%;
    display: grid;
    grid-template: "num-restar num-view num-sumar"/
                    1fr        1fr      1fr;
    border: 2px solid black;
    border-radius: 22px;  
    background-color: white;
}
.num-restar, .num-sumar{
    background-color: #787a78 ;
    cursor: pointer;
}
.num-restar, .num-sumar, .num-view{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 500;
}
.num-restar{
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}
.num-sumar{
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}
@media only screen and (min-width: 430px) and (max-width: 834px){
    .main-box{
        width: 100%;
        height: 100px;
        display: grid;
        grid-template: "subtotal                subtotal" 50px
                        "btn-pago-productos     btn-pago-productos" 70px            
                        "box-img-producto       info-producto" 290px
                        "num-select             btn-eliminar"40px
                        "empty-left             btn-save-later"70px/
                        6fr                     8fr;
    }
}

