* {
    margin: 0;
    padding: 0;
 }
 div{
     background-color: black;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }
 span{
     font-family:'Cinzel' ;
     font-size:13em ;
     color: rgb(200, 22, 22);
 }
 /* cinzel-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cinzel-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/cinzel-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cinzel-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cinzel-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cinzel-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cinzel-v19-latin-regular.svg#Cinzel') format('svg'); /* Legacy iOS */
  }