.box-style {
    display: inline-block;
    width: 250px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    padding: 0px 45px;
    text-align: justify;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 2em;
}
.box-1 {
    border: 5px solid rgb(13, 32, 32);
    background-color: aqua;
}
.box-2 {
    border: 5px dotted rgb(168, 17, 47);
    background-color: azure;
}
.box-3 {
    border: 5px dashed rgb(24, 174, 174);
    background-color: blueviolet;
}
.box-4 {
    border: 5px double rgb(214, 9, 135);
    background-color: chartreuse;
}